name: Build Android APK
on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 检出代码
        uses: actions/checkout@v4
        
      - name: 设置 JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          
      - name: 赋予执行权限
        run: chmod +x gradlew
        
      - name: 开始编译
        run: ./gradlew assembleDebug
        
      - name: 上传 APK
        uses: actions/upload-artifact@v4
        with:
          name: ONO-App-Package
          path: app/build/outputs/apk/debug/*.apk
